{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block header %}
{% endblock %}
{% block body %}
    <form method="post">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-lg btn-primary">
            Register
        </button>
        {{ form_end(form) }}
    </form>
{% endblock %}
